.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

/*-------- Colour theme for text and backgrounds --------*/

.pastel-red {
    background-color: #E88468;
    color: white;
}

.text-pastel-red {
    color: #E88468;
}

.pastel-blue {
    background-color: #577590;
}

.text-pastel-blue {
    color: #577590;
}

.pastel-green {
    background-color: #9FB37F;
}

.text-pastel-green {
    color: #9FB37F;
}

.pastel-yellow {
    background-color: #EAC576;
}

.text-pastel-yellow {
    color: #EAC576;
}

.pastel-brown {
    background-color: #583B23;
}

.text-pastel-brown {
    color: #583B23;
}

.seethrough-text {
    color: rgba(255,255,255,.55)
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}

/*-------- Hover and Active for buttons --------*/

.active-button:active {
    background-color: #EAC576;
    color: #583B23;
}

.active-button:hover {
    background-color: #EAC576;
    color: #583B23;
}

.btn:hover {
    background-color: #EAC576;
    color: #583B23;
}

a:hover {
    color: #E88468;
}

/*-------- Background theme for card - dimming background image --------*/

.title-card{
    
    background-color: rgba(0,0,0,0.5);
}

.card-title .card-subtitle {
    color: #fff;
}

/*-------- Background images --------*/

.full-background-image {
    background-image: url('/static/images/generic_photo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.banner-background-image {
    background-image: url('/static/images/generic_photo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color:rgba(0, 0, 0, 0.5)
}

/*-------- Resizing Font Awesome icons --------*/

.input-group-text {
    height: 38px;
}

.btn-outline-light {
    color: #f8f9fa;
    border-color: #577590;
    background-color: #577590;
}

/*-------- Styling recipe cards on dishes.html --------*/

.recipe-card {
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
    background-color: #fff;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}
 
.card img {
    width: 30%;
    border-top-right-radius: 0;
    border-bottom-left-radius: calc(0.25rem - 1px);
}

@media only screen and (max-width: 480px){
    .recipe-card {
        flex-direction: column;
    }

    .card img {
        width: 100%;
    }
}

/*-------- opaque background for card on register.html --------*/

.register-card {
    background-color: rgba(0,0,0,0.5);
}

/*-------- dropdown menu on add_recipe.html --------*/

.category-dropdown {
    color: gray;
    background-color: white;
    border-color: white;
}

/*-------- margin for 'add/ amend recipe' and 'more' buttons on homepage --------*/

.with-space {
    margin: 5px;
}

/*-------- label for text inputs on forms to have their own line --------*/

.recipe-label {
    width: 100%;
}

.full-width {
    flex: 1 1 auto;
}