{% extends "base.html" %}
{% block content %}

<body>
    <!-- Page Content-->
    <div class="container px-4 px-lg-5">
        <!-- Heading Row-->
        <div class="row gx-4 gx-lg-5 align-items-center my-5">
            <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0"
                    src="{{ recipe.image }}" alt="..." /></div>
            <div class="col-lg-5">
                <h1 class="font-weight-light">{{ recipe.dish_name }}</h1>
                {% if session.user|lower == recipe.created_by|lower %}
                    <a class="btn pastel-red" href="#!">Edit</a>
                    <a class="btn pastel-blue text-white" href="#!">Delete</a>
                {% endif %}
            </div>
        </div>
        <!-- Call to Action-->
        <div class="card text-white pastel-blue my-5 py-4 text-center">
            <div class="card-body">
                <p class="text-white m-0">{{ recipe.description }}</p>
            </div>
            <div class="card-body">
                <p class="text-white m-0">Created by: {{ recipe.created_by }}</p>
            </div>
        </div>
        <!-- Content Row-->
        <div class="row gx-4 gx-lg-5">
            <div class="col-md-4 mb-5">
                <div class="card h-100">
                    <div class="card-body">
                        <h2 class="card-title">Ingredients</h2>
                        <p class="card-text">
                            {% for ingredient in recipe.ingredients %}
                                <ul>
                                    {{ ingredient }}
                                </ul>
                            {% endfor %}
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-5">
                <div class="card h-100">
                    <div class="card-body">
                        <h2 class="card-title">Recipe</h2>
                        {% for value in recipe.recipe %}
                            <ol>{{ value }}</ol>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-5">
                <div class="card h-100">
                    <div class="card-body">
                        <h2 class="card-title">Equipment</h2>
                        {% for value in recipe.equipment %}
                            <ol>{{ value }}</ol>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
{% endblock %}