{% extends "base.html" %}
{% block content %}

<div class="full-background-image">

<div class="card register-card col-6 offset-3">
    <div class="card-body">
        <h2 class="card-title text-white">Login</h2></br>
        <h5 class="card-subtitle mb-2 text-white">Add or amend recipes, shop for goods, and more</h5></br>
        <form method="POST" action="{{ url_for('login') }}">
            <div class="input-group form-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                </div>
                <input id="username" name="username" type="text" class="form-control validate" minlength="5"
                    maxlength="15" placeholder="username" required>
                <label for="username"></label>
            </div></br>
            <div class="input-group form-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-key"></i></span>
                </div>
                <input type="password" id="password" name="password" type="text" class="form-control validate"
                    minlength="5" maxlength="15" placeholder="password" required>
                <label for="password"></label>
            </div></br>
            <div class="form-group">
                <button type="submit" id="submit"
                    class="btn pastel-red col-8 offset-2 active-button:active active-button:hover">Log In</button>
            </div></br>
        </form>
        <div class="card-footer">
            <div class="d-flex justify-content-center links text-white">
                Don't have an account yet? <a href="{{ url_for('register') }}" class="text-pastel-yellow">Register</a>
            </div>
        </div>
    </div>
</div>

</div>

{% endblock %}