{% extends "base.html" %}
{% block content %}

<!-- Header-->
<header class="banner-background-image py-5">
    <div class="container px-5">
        <div class="row gx-5 align-items-center justify-content-center">
            <div class="col-lg-8 col-xl-7 col-xxl-6">
                <div class="my-5 text-center text-xl-start title-card">
                    <h1 class="display-5 fw-bolder text-white mb-2 text-shadow with-space">{{ username }}'s homepage
                    </h1>
                    <p class="lead fw-normal text-white mb-4 with-space">
                        Explore and find new recipes</br>
                        Upload your own ideas</br>
                        Create your own cookbook</br>
                    </p>
                    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                        <a class="btn pastel-red btn-lg px-4 me-sm-3 active-button with-space"
                            href="{{ url_for('add_recipe') }}">Create Recipe</a>
                        <a class="btn btn-outline-light btn-lg px-4 with-space" href="#recipes">Browse Recipes</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<br>

<!-- search box -->
<form class="form-inline centre-input" action="{{ url_for('search') }}" method="POST">
    <div class="form-group mx-sm-3 mb-2"></div>
      <label for="query">Search Dish Name, Ingredient or Key Word</label>
      <input type="text" class="form-control" id="query" name="query" placeholder="Fried Eggs">
    </div>
    <button type="submit" class="btn btn-outline-light px-4 with-space">Search</button>
  </form>
<br>


<section id="recipes">
    {% for dish in dishes %}
        
        <!-- receipes are listed -->
            
            <!-- Image on left -->
            {% if loop.index % 2 !=0 %}
            <div class="card recipe-card col-10 offset-1">
                <img src="{{ dish.image }}" class="card-img-top dish-image" alt="Image of Dish">
                <div class="card-body">
                    <h3 class="card-title">{{ dish.dish_name }}</a></h3>
                    <h5 class="card-title">{{ dish.region }}</h5>
                    <p class="card-text text-right">{{ dish.description }}</p>
                    <p class="card-text text-right">by: {{ dish.created_by }}</p>
                    <a href="{{ url_for('individual_recipe', recipe_id=dish._id) }}" class="btn pastel-red btn-lg px-4 me-sm-3 active-button">More</a>
                    <!-- 'Edit' and 'Delete' buttons appear if created by session user -->
                    {% if session.user|lower == dish.created_by|lower %}
                        <a href="{{ url_for('edit_recipe', recipe_id=dish._id) }}" class="btn pastel-blue btn-lg px-4 me-sm-3 active-button text-white">Edit</a>
                        <a href="{{ url_for('delete_recipe', recipe_id=dish._id) }}" class="btn pastel-blue btn-lg px-4 me-sm-3 active-button text-white">Delete</a>
                    {% endif %}
                </div>
            </div>
            {% else %}
            <!-- Image on right -->
            <div class="card recipe-card col-10 offset-1">
                <div class="card-body">
                    <h3 class="card-title">{{ dish.dish_name }}</a></h3>
                    <h5 class="card-title">{{ dish.region }}</h5>
                    <p class="card-text">{{ dish.description }}</p>
                    <p class="card-text text-right">by: {{ dish.created_by }}</p>
                    <a href="{{ url_for('individual_recipe', recipe_id=dish._id) }}" class="btn pastel-red btn-lg px-4 me-sm-3 active-button">More</a>
                    {% if session.user|lower == dish.created_by|lower %}
                        <a href="{{ url_for('edit_recipe', recipe_id=dish._id) }}" class="btn pastel-blue btn-lg px-4 me-sm-3 active-button text-white">Edit</a>
                        <a href="{{ url_for('delete_recipe', recipe_id=dish._id) }}" class="btn pastel-blue btn-lg px-4 me-sm-3 active-button text-white">Delete</a>
                    {% endif %}
                </div>
                <img src="{{ dish.image }}" class="card-img-top dish-image" alt="Image of Dish">
            </div>
            {% endif %}
    
    {% endfor %}  

</section>

{% endblock %}
