{% extends "base.html" %}
{% block content %}

<div class="card col-6 offset-3">
    <form class="card-body">
            <h5 class="card-title">Card title</h5>
            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <label class="input-group-text" for="inputGroupSelect01">Region</label>
                </div>
                <select class="custom-select col-8" id="inputGroupSelect01">
                  <option selected></option>
                  <option value="1">British</option>
                  <option value="2">Chinese</option>
                  <option value="3">Sri Lankan</option>
                  <option value="3">Indian</option>
                  <option value="3">Thai</option>
                </select>
              </div>
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
    </form>
</div>

{% endblock %}